@import "_mixins.less";
@import "_variables.less";

@controlsHeight: 60px;
@handleHeight: 16px;
@progressHeight: 10px;

.player-controls {

  background: white;
  border-top: 1px solid #aaa;
  margin: 0 -1 * @containerPadding;
  padding: 5px 10px;


  .button-controls {
    height: @controlsHeight;

    .btn {
      outline: none;
    }

    .previous {
      .roundButton(@controlsHeight - 10px);
      text-align: left;
    }

    .play {
      .roundButton(@controlsHeight);
      .fa.fa-play {
        padding-left: 3px;
      }
    }

    .next {
      .roundButton(@controlsHeight - 10px);
      text-align: right;
    }
  }

  .progress-controls {
    flex: 1;
    height: @controlsHeight;

    .progress-bar {
      -webkit-transition: none;
    }

    .progress {
      cursor: pointer;
      flex: 1;
      display: inline-block;
      position: relative;
      width: 100%;
      height: @progressHeight;
      margin: 0 0;
      overflow: visible;
    }

    .progress-handle {
      .roundButton(@handleHeight);
      border: 1px solid black;
      background-color: white;
      position: absolute;
      left: 0%;
      margin-left: -@handleHeight / 2;
      margin-top: -(@handleHeight - @progressHeight) / 2;
    }

    .current-time, .total-time {
      width: 70px;
      text-align: center;
    }
  }

  .shuffle-cast {
    text-align: center;
    white-space: nowrap;

    span {
      cursor: pointer;
      margin-left: 5px;
      margin-right: 5px;
    }

    .disabled {
      color: #aaa;
      cursor: not-allowed;
    }
  }
}
