@import "/bower_components/bootstrap/dist/css/bootstrap.css";
@import "/bower_components/font-awesome/css/font-awesome.css";

@import "_mixins.less";
@import "_playlist.less";
@import "_player_controls.less";
@import "_drag_drop.less";

// div, span, section {
//   border: 1px solid black;
// }

.container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.block {
  display: block;
}

.vbox {
  display: flex;
  flex-direction: column;
}

.hbox {
  display: flex;
  flex-direction: row;
}

.flex-center {
  align-items: center;
}

.full-height {
  height: 100%;
}

.navbar-bottom {
  min-height: 71px;
}

.content-container {
  overflow-y: auto;
}
